<RadzenHeader>
	<div class="d-flex align-items-center">
		<RadzenSidebarToggle Click="@(() => isExpanded = !isExpanded)" />
		<RadzenLabel Text="Carbunql demo"/>
	</div>
</RadzenHeader>
<RadzenSidebar @bind-Expanded="@isExpanded">
	<RadzenPanelMenu>
		<RadzenPanelMenuItem Text="Format" Icon="segment" Path="/" />
		<RadzenPanelMenuItem Text="ToSubQuery" Icon="keyboard_double_arrow_right" Path="subquery" />
		<RadzenPanelMenuItem Text="ToCTE" Icon="keyboard_double_arrow_up" Path="cte" />
		<RadzenPanelMenuItem Text="ToInsert" Icon="add_circle" Path="insert" />
		@*		<RadzenPanelMenuItem Text="ToUpdate" Icon="edit" Path="insert" />*@
		<RadzenPanelMenuItem Text="ToDelete" Icon="remove_circle" Path="delete" />
	</RadzenPanelMenu>
</RadzenSidebar>

@code {
	bool isExpanded = true;
}
