<RadzenHeader>
	<div class="d-flex align-items-center">
		<RadzenSidebarToggle Click="@(() => isExpanded = !isExpanded)" />
		<RadzenLink Icon="link" Path="https://github.com/mk3008/Carbunql" Text="Carbunql" target="_blank"/>
	</div>
</RadzenHeader>
<RadzenSidebar @bind-Expanded="@isExpanded">
	<RadzenPanelMenu>
		<RadzenPanelMenuItem Text="Format" Icon="segment" Path="format" />
		<RadzenPanelMenuItem Text="ToSubQuery" Icon="keyboard_double_arrow_right" Path="subquery" />
		<RadzenPanelMenuItem Text="ToCTEQuery" Icon="keyboard_double_arrow_up" Path="cte" />
		<RadzenPanelMenuItem Text="ToInsertQuery" Icon="add_circle" Path="insert" />
		@*		<RadzenPanelMenuItem Text="ToUpdate" Icon="edit" Path="insert" />*@
		<RadzenPanelMenuItem Text="ToDeleteQuery" Icon="remove_circle" Path="delete" />
		<RadzenPanelMenuItem Text="ToCreateTable" Icon="view_list" Path="createtable" />
	</RadzenPanelMenu>
</RadzenSidebar>

@code {
	bool isExpanded = true;
}
