<RadzenHeader>
	<div class="row justify-content-start align-items-center">
		<div class="col-5 d-flex align-items-center">
			<RadzenSidebarToggle Click="@(() => isExpanded = !isExpanded)" />
			<RadzenLabel Text="Carbunql" />
		</div>
		<div class="col-7 d-flex align-items-center justify-content-end">
			<RadzenLink Path="https://github.com/mk3008/Carbunql" target="_blank" class="mx-3">
				<svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github">
					<path fill="currentColor" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
				</svg>
			</RadzenLink>
		</div>
	</div>
</RadzenHeader>
<RadzenSidebar @bind-Expanded="@isExpanded">
	<RadzenPanelMenu>
		<RadzenPanelMenuItem Text="Analyze" Icon="code">
			<RadzenPanelMenuItem Text="GetColumnNames" Path="columnlist" />
			<RadzenPanelMenuItem Text="GetInternalQueries" Path="internalquerylist" />
			<RadzenPanelMenuItem Text="GetPhysicalTables" Path="physicaltablelist" />
			<RadzenPanelMenuItem Text="GetSelectableItems" Path="selectableitemlist" />
			<RadzenPanelMenuItem Text="GetSelectableTables" Path="selectabletablelist" />
			<RadzenPanelMenuItem Text="GetTokens" Path="tokenlist" />
		</RadzenPanelMenuItem>

		<RadzenPanelMenuItem Text="DDL" Icon="code">
			<RadzenPanelMenuItem Text="Format" Path="ddl_format" />
			<RadzenPanelMenuItem Text="Normalize" Path="ddl_normalize" />
			<RadzenPanelMenuItem Text="Migration" Path="ddl_migration" />
		</RadzenPanelMenuItem>

		<RadzenPanelMenuItem Text="InsertQuery" Icon="code">
			<RadzenPanelMenuItem Text="TryConvertTo" Path="insert_query/try_convert_to" />
		</RadzenPanelMenuItem>

		<RadzenPanelMenuItem Text="QuerySource" Icon="code">
			<RadzenPanelMenuItem Text="Labels" Path="query_source/labels" />
			<RadzenPanelMenuItem Text="Filter(column)" Path="query_source/filter_column" />
			<RadzenPanelMenuItem Text="Filter(table)" Path="query_source/filter_table" />
			<RadzenPanelMenuItem Text="EnsureAny" Path="query_source/ensure_any" />
		</RadzenPanelMenuItem>

		<RadzenPanelMenuItem Text="Format" Icon="segment" Path="format" />
		<RadzenPanelMenuItem Text="ToCount" Icon="functions" Path="count" />
		<RadzenPanelMenuItem Text="ToSubQuery" Icon="keyboard_double_arrow_right" Path="subquery" />
		<RadzenPanelMenuItem Text="ToCTEQuery" Icon="keyboard_double_arrow_up" Path="cte" />
		<RadzenPanelMenuItem Text="ToInsert" Icon="add_circle" Path="insert" />
		<RadzenPanelMenuItem Text="ToUpdate" Icon="edit" Path="update" />
		<RadzenPanelMenuItem Text="ToMerge" Icon="merge" Path="merge" />
		<RadzenPanelMenuItem Text="ToDelete" Icon="remove_circle" Path="delete" />
		<RadzenPanelMenuItem Text="ToCreate" Icon="view_list" Path="createtable" />
		<RadzenPanelMenuItem Text="ToDiff" Icon="difference" Path="diffquery" />


			@* <RadzenPanelMenuItem Text="ToPivot(month)" Icon="pivot_table_chart" Path="pivot_month" /> *@
		@* <RadzenPanelMenuItem Text="ToPivot(day)" Icon="pivot_table_chart" Path="pivot_day" /> *@
	</RadzenPanelMenu>
</RadzenSidebar>

@code {
	bool isExpanded = true;
}
