@page "/ddl_format"
@using Carbunql;
@using Carbunql.Analysis
@using Carbunql.Building;
@using System.Text

<PageTitle>DDL Format</PageTitle>

<div class="container-fluid">
@*    <div class="row" Style="margin: 0px 0px 16px 0px;">
        <RadzenMenu class="rz-shadow-3">
            <RadzenMenuItem Text="Clear SQL" Icon="clear" Click=@OnClear>
            </RadzenMenuItem>
        </RadzenMenu>
    </div>*@
    <div class="row">
        <div class="col-md-12 p-3">
			<RadzenText TextStyle="TextStyle.H4">DDL Format</RadzenText>

            <RadzenText>Format a ddl queryset.</RadzenText>

			<RadzenCard>
				<RadzenText TextStyle="TextStyle.Subtitle2">Source code</RadzenText>
				<RadzenTextArea @bind-Value=@sourcecode TValue="string" Style="width: 100%; min-height: 300px; font-family: 'Ricty Diminished', SFMono-Regular, Consolas, 'Courier New', 'BIZ UDGothic', Meiryo, monospace; font-size: 18px; white-space: pre;" ReadOnly="true" />
			</RadzenCard>
        </div>
    </div>
    <div class="row">
		<div class="col-md-12 p-3">
            <RadzenText TextStyle="TextStyle.H5">Demo</RadzenText>
        </div>

        <div class="col-md-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2">Input</RadzenText>
                <RadzenTextArea @bind-Value=@sql TValue="string" Change=@OnChange Style="width: 100%; min-height: 600px; font-family: 'Ricty Diminished', SFMono-Regular, Consolas, 'Courier New', 'BIZ UDGothic', Meiryo, monospace; font-size: 18px; white-space: pre;" Placeholder="Enter select query(ex. select * from table)" />
            </RadzenCard>
        </div>
        <div class="col-md-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2">Result</RadzenText>
                <RadzenTextArea @bind-Value=@fsql TValue="string" Change=@OnChange Style="width: 100%; min-height: 600px; font-family: 'Ricty Diminished', SFMono-Regular, Consolas, 'Courier New', 'BIZ UDGothic', Meiryo, monospace; font-size: 18px; white-space: pre;" ReadOnly="true" />
            </RadzenCard>
        </div>

    </div>
</div>

@code {

    string fsql = string.Empty; 

    string sourcecode = @"using Carbunql;
using Carbunql.Analysis;
using Carbunql.Building;

var q = DefinitionQuerySetParser.Parse(ddl_query_text);
var text = q.ToText();
Console.WriteLine(text);";

    string sql = @"CREATE TABLE public.child_table (
    child_id serial4 NOT NULL
    , child_name VARCHAR(100) NOT NULL
    , parent_id int4 NOT NULL
    , value int4 NOT NULL
    , remarks text NOT NULL DEFAULT ''::text
    , CONSTRAINT child_table_pkey PRIMARY KEY (child_id)
    , CONSTRAINT child_table_child_name_key UNIQUE (child_name)
    , CONSTRAINT child_table_value_check CHECK (value >= 0)
)";

    protected override void OnInitialized()
    {
        OnChange(sql);
    }

    void OnClear()
    {
        sql = string.Empty;
        OnChange(sql);
    }

    void OnChange(string value)
    {
        if (string.IsNullOrEmpty(value))
        {
            fsql = string.Empty;
            return;
        }
        try
        {
            var sq = DefinitionQuerySetParser.Parse(sql);
            fsql = sq.ToText();
		}
		catch (Exception ex)
		{
			fsql = ex.ToString();
		}
	}
}