@page "/"
@using Carbunql.Analysis;
@using Carbunql;

<PageTitle>Index</PageTitle>

@code {

    string sql = @"with
dat(line_id, name, unit_price, amount, tax_rate) as ( 
    values
    (1, 'apple' , 105, 5, 0.07),
    (2, 'orange', 203, 3, 0.07),
    (3, 'banana', 233, 9, 0.07),
    (4, 'tea'   , 309, 7, 0.08),
    (5, 'coffee', 555, 9, 0.08),
    (6, 'cola'  , 456, 2, 0.08)
),
detail as (
    select  
        q.*,
        trunc(q.price * (1 + q.tax_rate)) - q.price as tax,
        q.price * (1 + q.tax_rate) - q.price as raw_tax
    from
        (
            select
                dat.*,
                (dat.unit_price * dat.amount) as price
            from
                dat
        ) q
), 
tax_summary as (
    select
        d.tax_rate,
        trunc(sum(raw_tax)) as total_tax
    from
        detail d
    group by
        d.tax_rate
)
select 
   line_id,
    name,
    unit_price,
    amount,
    tax_rate,
    price,
    price + tax as tax_included_price,
    tax
from
    (
        select
            line_id,
            name,
            unit_price,
            amount,
            tax_rate,
            price,
            tax + adjust_tax as tax
        from
            (
                select
                    q.*,
                    case when q.total_tax - q.cumulative >= q.priority then 1 else 0 end as adjust_tax
                from
                    (
                        select  
                            d.*, 
                            s.total_tax,
                            sum(d.tax) over (partition by d.tax_rate) as cumulative,
                            row_number() over (partition by d.tax_rate order by d.raw_tax % 1 desc, d.line_id) as priority
                        from
                            detail d
                            inner join tax_summary s on d.tax_rate = s.tax_rate
                    ) q
            ) q
    ) q
order by 
    line_id";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <RadzenText TextStyle="TextStyle.H5">Input SQL</RadzenText>
            <RadzenTextArea @bind-Value=@sql TValue="string" Change=@OnChange Style="width: 100%; min-height: 600px; font-family: 'Ricty Diminished', SFMono-Regular, Consolas, 'Courier New', 'BIZ UDGothic', Meiryo, monospace; font-size: 18px; white-space: pre;" />
        </div>
@*        <div class="col-md-2">
            <RadzenText TextStyle="TextStyle.H5">Tokens</RadzenText>
            <RadzenListBox @bind-Value=@selectToken Data=@tokens TextProperty="Text" ValueProperty="Text" Style="width: 100%; height: 600px; margin : 0px"/>
        </div>*@
        <div class="col-md-6">
            <RadzenText TextStyle="TextStyle.H5">Format SQL</RadzenText>
            <RadzenTextArea @bind-Value=@fsql TValue="string" Change=@OnChange Style="width: 100%; min-height: 600px; font-family: 'Ricty Diminished', SFMono-Regular, Consolas, 'Courier New', 'BIZ UDGothic', Meiryo, monospace; font-size: 18px; white-space: pre;" ReadOnly="true" />
        </div>
    </div>
</div>

@code {
    IEnumerable<Token>? tokens = null;
    //object? selectToken = null;

    protected override void OnInitialized()
    {
        OnChange(sql);
    }

    string fsql = string.Empty;

    void OnChange(string value)
    {
        try
        {
            var bld = new CommandTextBuilder();
            var sq = QueryParser.Parse(sql);
            tokens = sq.GetTokens(null).ToList();
            fsql = bld.Execute(tokens);
        }
        catch (Exception ex)
        {            
            fsql = ex.ToString();
        }

    }
}