@page "/sql-analysis"

<PageTitle>SqlAnalysis</PageTitle>
<div class="row">
    <div class="col-12">
        <RadzenText Text="SqlAnalysis" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </div>
</div>
